.android
.aws
.azure
.cache
.doker
.idlerc
.matplotlib
.ms-ad
.ssh
.VirtualBox
.vscode
.vscode-cli
ansel
Búsquedas
Contactos
Descargas
Documentos
Escritorio
Favoritos
Imágenes
Juegos guardados
Música
Objetos 3D 
OneDrive 
source
Vídeos
Vínculos
VirtualBox VMs
workspace
.bash_history
.gitconfig
.lesshst
mintty.exe.stackdump
Sti_Trace.log